![image](https://www.python.org/static/img/python-logo.png)
# 亞洲大學基礎程式設計教材(AUP110-Fundamentals of Programming)
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

# Week9-檔案處理

## Topic 1(主題1)-寫入檔案: open() 和print() function

### Step 1: 將一個List（串列）資料寫入檔案

In [ ]:
scores = [85, 15, 80, 80, 77, 76, 47, 48, 50, 50, 
          88, 90, 75, 67, 79, 76, 92, 90, 90, 48, 
          15, 95, 95, 85, 90, 88, 86, 87, 91, 82, 
          82, 86, 89, 88, 77, 69, 83, 85, 82, 81, 
          94, 72, 83, 75, 87, 79, 85, 84, 82, 87, 
          86, 86, 88, 83, 85, 87, 84, 87, 37, 90, 
          80, 82, 83, 87, 80, 68, 81, 91, 84, 15]

### Step 2: 開啟一個檔案
https://docs.python.org/3/library/functions.html#open

open(file, mode='r', buffering=- 1, encoding=None, errors=None, newline=None, closefd=True, opener=None)
打開 file 並返回對應的 file object。如果該文件不能被打開，則引發 OSError。

* file 是一個 path-like object，表示將要打開的文件的路徑
* mode 是可選的字符串，用於指定打開文件的模式。默認值是 'r' ，表示以文本模式打開並讀取文件。其他常見模式有：寫入模式 'w' （已存在文件會被清空）、獨占創建模式 'x' 、追加寫入模式 'a' 。'b'二進制模式。't'文字模式（預設）。
* encoding ，則會根據當前平台決定編碼格式：調用 locale.getpreferredencoding(False) 獲取當前地區的編碼。若要讀寫原生字節格式，請使用二進制模式且不要指定 encoding。可用的模式有：

In [ ]:
fout = open('score.txt', 'w')

### Step 3: 使用print()寫入檔案
https://docs.python.org/3/library/functions.html#print

print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)
將 objects 打印輸出至 file 指定的文本流，以 sep 分隔並在末尾加上 end。 sep 、 end 、 file 和 flush 必須以關鍵字參數的形式給出。

* 所有非關鍵字參數都會被轉換為字符串，就像是執行了 str() 一樣，並會被寫入到流，以 sep 且在末尾加上 end。 sep 和 end 都必須為字符串；它們也可以為 None，這意味著使用默認值。如果沒有給出 objects，則 print() 將只寫入 end。

* file 參數必須是一個具有 write(string) 方法的對象；如果參數不存在或為 None，則將使用 sys.stdout。由於要打印的參數會被轉換為文本字符串，因此 print() 不能用於二進制模式的文件對象。對於這些對象，應改用 file.write(...)。

In [ ]:
for score in scores:
  print(score, file=fout)
fout.close()

## Topic 2(主題2)-讀出檔案: open() and for line in fin

### Step 4: 從score.txt輸入資料到程式，印出來

In [ ]:
fin=open('score.txt')
for line in fin:
  print(line.strip(), end=",")
fin.close()

85,15,80,80,77,76,47,48,50,50,88,90,75,67,79,76,92,90,90,48,15,95,95,85,90,88,86,87,91,82,82,86,89,88,77,69,83,85,82,81,94,72,83,75,87,79,85,84,82,87,86,86,88,83,85,87,84,87,37,90,80,82,83,87,80,68,81,91,84,15,

### Step 5:  從score.txt輸入資料，算人數

In [ ]:
count=0
fin=open('score.txt')
for line in fin:
  count +=1
fin.close()
print(f"The number is {count}")

The number is 70

In [ ]:
count=0
passed = 0
fin=open('score.txt')
for line in fin:
  count +=1
  score = int(line)
  if score >= 60:
    passed +=1
fin.close()
print(f"The number of the passed is {passed} in {count} students")

The number of the passed is 61 in 70 students

## Topic 3(主題3)-讀寫檔案: f.read() and f.write()

### Step 6:  f.write()
https://docs.python.org/3/tutorial/inputoutput.html

Methods of File Objects:
* f.read(size)
* f.readline()
* f.write(string)
* f.seek(5) 
* f.tell()
* f.close()

In [ ]:
count=0
passed = 0
fin=open('score.txt')
fout=open('passed.txt','w')
for line in fin:
  count +=1
  score = int(line)
  if score >= 60:
    passed +=1
    fout.write(line)
fin.close()
fout.close()
print(f"The number of the passed is {passed} in {count} students")

The number of the passed is 61   in 70 students

## Topic 4(主題4)-用with

### Step 7: 改用with來讀檔案
Python 語言提供了 with 語法，在with語法架構之下的資源清理與回收動作會自動完成。

In [ ]:
count = 0
total = 0
with open('score.txt') as fin:
    for line in fin:
        count += 1
        total += int(line)
print(f"Average score= {total/count:.2f}")

Average score= 77.59

### Step 8: 改用with來讀/寫檔案

In [ ]:
count=0
passed = 0
with open('score.txt') as fin, open('passed2.txt','w') as fout:
    for line in fin:
        count +=1
        score = int(line)
        if score >= 60:
          passed +=1
          fout.write(line)
print(f"The number of the passed is {passed} in {count} students")

## Topic 5(主題5)-資料排序

### Step 9: 將成績排序(由小到大)

In [ ]:
scores=list()
with open('score.txt') as fin:
    for line in fin:
        score = int(line)
        scores.append(score)    
print("Before sorting", scores)
scores.sort()
print("After  sorting", scores)

Before sorting [85, 15, 80, 80, 77, 76, 47, 48, 50, 50, 88, 90, 75, 67, 79, 76, 92, 90, 90, 48, 15, 95, 95, 85, 90, 88, 86, 87, 91, 82, 82, 86, 89, 88, 77, 69, 83, 85, 82, 81, 94, 72, 83, 75, 87, 79, 85, 84, 82, 87, 86, 86, 88, 83, 85, 87, 84, 87, 37, 90, 80, 82, 83, 87, 80, 68, 81, 91, 84, 15]
After  sorting [15, 15, 15, 37, 47, 48, 48, 50, 50, 67, 68, 69, 72, 75, 75, 76, 76, 77, 77, 79, 79, 80, 80, 80, 80, 81, 81, 82, 82, 82, 82, 82, 83, 83, 83, 83, 84, 84, 84, 85, 85, 85, 85, 85, 86, 86, 86, 86, 87, 87, 87, 87, 87, 87, 88, 88, 88, 88, 89, 90, 90, 90, 90, 90, 91, 91, 92, 94, 95, 95]

### Step 10: 將成績排序(由大到小)

In [ ]:
scores=list()
with open('score.txt') as fin:
    for line in fin:
        score = int(line)
        scores.append(score)    
print("Before sorting", scores)
scores.sort(reverse = True)
print("After  sorting", scores)

Before sorting [85, 15, 80, 80, 77, 76, 47, 48, 50, 50, 88, 90, 75, 67, 79, 76, 92, 90, 90, 48, 15, 95, 95, 85, 90, 88, 86, 87, 91, 82, 82, 86, 89, 88, 77, 69, 83, 85, 82, 81, 94, 72, 83, 75, 87, 79, 85, 84, 82, 87, 86, 86, 88, 83, 85, 87, 84, 87, 37, 90, 80, 82, 83, 87, 80, 68, 81, 91, 84, 15]
After  sorting [95, 95, 94, 92, 91, 91, 90, 90, 90, 90, 90, 89, 88, 88, 88, 88, 87, 87, 87, 87, 87, 87, 86, 86, 86, 86, 85, 85, 85, 85, 85, 84, 84, 84, 83, 83, 83, 83, 82, 82, 82, 82, 82, 81, 81, 80, 80, 80, 80, 79, 79, 77, 77, 76, 76, 75, 75, 72, 69, 68, 67, 50, 50, 48, 48, 47, 37, 15, 15, 15]

### Step 11: 用sorted()函數排序(由大到小)
https://docs.python.org/3/library/functions.html#sorted
sorted(iterable, *, key=None, reverse=False)
根據 iterable 中的項返回一個新的已排序列表。

有兩個選擇性參數，只能使用關鍵字參數指定。

* key 指定帶有單個參數的函數，用於從 iterable 的每個元素中提取用於比較的鍵 (例如 key=str.lower)。默認值為 None (直接比較元素)。
* reverse 為一個布爾值。如果設為 True，則每個列表元素將按反向順序比較進行排序。

In [ ]:
scores=list()
with open('score.txt') as fin:
    for line in fin:
        score = int(line)
        scores.append(score)    
print("Before sorting", scores)
scores2=sorted(scores,reverse = True)
print("After  sorting", scores2)

Before sorting [85, 15, 80, 80, 77, 76, 47, 48, 50, 50, 88, 90, 75, 67, 79, 76, 92, 90, 90, 48, 15, 95, 95, 85, 90, 88, 86, 87, 91, 82, 82, 86, 89, 88, 77, 69, 83, 85, 82, 81, 94, 72, 83, 75, 87, 79, 85, 84, 82, 87, 86, 86, 88, 83, 85, 87, 84, 87, 37, 90, 80, 82, 83, 87, 80, 68, 81, 91, 84, 15]
After  sorting [95, 95, 94, 92, 91, 91, 90, 90, 90, 90, 90, 89, 88, 88, 88, 88, 87, 87, 87, 87, 87, 87, 86, 86, 86, 86, 85, 85, 85, 85, 85, 84, 84, 84, 83, 83, 83, 83, 82, 82, 82, 82, 82, 81, 81, 80, 80, 80, 80, 79, 79, 77, 77, 76, 76, 75, 75, 72, 69, 68, 67, 50, 50, 48, 48, 47, 37, 15, 15, 15]

## Topic 6(主題6)-複習變數型別

### Step 12:  數值型態：int, float, bool
* 整數 integer( int )
* 浮點數 floating-point (float)
* 布林值 boolean (bool)

In [ ]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [ ]:
b = 1.5
print(b)
print(type(b))

1.5
<class 'float'>

In [ ]:
c = True
print(c)
print(type(c))

### Step 13: 字串型態：str, chr
特殊字串：
* F-string: 用來格式化
* R-string: raw string
* U-string: unicode string
* B-string: Byte string

In [ ]:
import sys
msg = "Hello, World"
print(msg)
print(type(msg))
print(sys.getsizeof(msg))

Hello, World
<class 'str'>
61

In [ ]:
name = "John"
msg = f"Hello {name}"
print(msg)
print(type(msg))

Hello John
<class 'str'>

In [ ]:
msg = r"Hello\nJohn"
print(msg)
print(type(msg))

Hello\nJohn
<class 'str'>

In [ ]:
msg = r"Hello\nJohn"
print(msg)
print(type(msg))

In [ ]:
import sys
msg = u"Hello, World"
print(msg)
print(type(msg))
print(sys.getsizeof(msg))

Hello, World
<class 'str'>
61

In [ ]:
import sys
msg = b"Hello, World"
print(msg)
print(type(msg))
print(sys.getsizeof(msg))

b'Hello, World'
<class 'bytes'>
45

### Step 14: 字元

"A" 的 ASCII code 是 65，而 "a" 的 ASCII code 是 97
"這是什麼" 的 UNICODE code \u9019\u662f\u4ec0\u9ebc

In [ ]:
x = 65
y = chr(x)
print(y)

A

In [ ]:
x = 97
y = chr(x)
print(y)

a

In [ ]:
msg = "\u9019\u662f\u4ec0\u9ebc"
print(msg)

這是什麼

In [ ]:
x = 0x9019
y = chr(x)
print(y)

這

In [ ]:
x = 0x662f
y = chr(x)
print(y)

是

### Step 15:  容器型態：list, tuple, set, dict

In [ ]:
animals = ["bear", "cat", "dog", "elephant", "horse"]
number = [1, 2, 3, 4, 5 ]

In [ ]:
animals = ('bear', 'cat', 'dog', 'elephant', 'horse')
number = (1, 2, 3, 4, 5 )

In [ ]:
animals = {'bear', 'cat', 'dog', 'elephant', 'horse'}
number = {1, 2, 3, 4, 5}

In [ ]:
animalx = {1: "bear", 2: "cat", 3: "dog", 4: "elephant"}
print(animalx)

{1: 'bear', 2: 'cat', 3: 'dog', 4: 'elephant'}

In [ ]:
animaly = dict(zip(number, animals))
print(animaly)

{1: 'bear', 2: 'cat', 3: 'dog', 4: 'elephant', 5: 'horse'}

## Topic 7(主題7)- 二進制的浮點數運算和十進制 (Decimal) 浮點數運算

decimal 模組提供了一個 Decimal 資料類型，用於十進制浮點數運算。相較於內建的二進制浮點數 float 實作，該 class 特別適用於下列情境

* 金融應用程式及其他需要準確十進位制表示法的應用，
* 對於精確度 (precision) 的控制，
* 控制四捨五入，以滿足法律或監管規範，
* 追蹤有效的小數位數 (decimal place)，或
* 使用者會期望計算結果與手工計算相符的應用程式。

例如，要計算 70 美分的手機充電加上 5％ 稅金的總價，使用十進制浮點數和二進制浮點數，會算出不同的答案。如果把計算結果四捨五入到最接近的美分，兩者的差異會更顯著。

### Step 16: decimal的運算

In [ ]:
from decimal import *
a = round(Decimal('0.70') * Decimal('1.05'), 2)
b = round(.70 * 1.05, 2)
print(f"{a}")
print(f"{b}")

0.74
0.73

## Topic 8(主題8)-複習格式化輸出

### Step 17: %-formatting

In [ ]:
A = 435; B = 59.058
print('Art: %5d, Price per Unit: %8.2f' % (A, B))

In [ ]:
FirstName = "Mary"; LastName= "Lin"
print("She is %s %s" %(FirstName, LastName))

In [ ]:
for a in range(1,10):
  for b in range(1,10):
    print('%d*%d =%2d'%(a, b, a*b), end=' ')
  print()

### Step 18: str-format（Python 2.6+）

In [ ]:
A = 435; B = 59.058
print("Art: {0:5d}, Price per Unit: {1:8.2f}".format(435, 59.058))

In [ ]:
FirstName = "Mary"; LastName= "Lin"
print("She is {} {}".format(FirstName, LastName))

In [ ]:
for a in range(1,10):
  for b in range(1,10):
    print('{0:1d}*{1:1d} ={2:2d}'.format(a, b, a*b), end=' ')
  print()

### Step 19: f-string （Python 3.6+）

In [ ]:
A = 435; B = 59.058
print(f"Art:{A:5d}, Price per Unit: {B:8.2f}")

In [ ]:
FirstName = "Mary"; LastName= "Lin"
print(f"She is {FirstName} {LastName}")

In [ ]:
for a in range(1,10):
  for b in range(1,10):
    c= a*b
    print(f'{a}*{b} ={c:2d}', end=' ')
  print()